
            .simpan{
                padding: 10px 20px;
                color: #FFFFFF;
                background-color: #00A69A;
                border-radius: 10px;
                cursor: pointer;
            }